<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <div class="logo">
                Logo
            </div>
            <nav></nav>
        </header>

        <main>
            <section class="travel-form__section">
                <div class="travel-form__img-slide">
                    <img src="../assets/img-1.jpg" alt="Slide 1">
                    <img src="../assets/img-2.jpg" alt="Slide 2">
                    <img src="../assets/img-3.jpg" alt="Slide 3">
                    <img src="../assets/img-4.jpg" alt="Slide 4">
                </div>

                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
