@import 'config';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    max-width: 90%;
    margin: 50px auto;
}

/* Typography */

h1 {
    font-family: $header;
    font-size: 8rem;
    color: $base-color;

    .br-1,
    .br-2 {
        display:block;
    }

    .br-1 {
        margin-bottom: -.4em;
    }

    .br-2 {
        margin-bottom: -.6em;
    }
}