@import 'config';

header {
    padding: 1.8em;
    display: flex;
    justify-content: center;
    background: transparent;
}

.logo {
    font-family: $logo-font;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;

    &-brand {
        color: $brand-color;
    }
}