@import 'config';

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    max-width: 90%;
    background: transparent;
}

header.active {
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    max-width: 90%;
    background: #000;
}

.logo {
    font-family: $logo-font;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;

    &-brand {
        color: $brand-color;
    }
}